<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lz.mapper.ConsultationMapper">
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id">
        insert into chat_message (session_id, sender_type, content, msg_type, msg_status, create_time)
        values
        (#{sessionId}, #{senderType}, #{content}, #{msgType}, #{msgStatus}, #{createTime})
    </insert>
    <insert id="insertConsultation">
        insert into consultation_session (user_id, doctor_id, status, ai_summary, create_time, update_time)
        values (#{userId}, #{doctorId}, #{status}, #{aiSummary}, #{createTime}, #{updateTime});
    </insert>
    <insert id="insertTempAudit">
        insert into temp_audit (consultation_session_id, chat_message_id, create_time)
        values (#{sessionId}, #{chatMessageId}, NOW());
    </insert>


    <update id="update" parameterType="com.lz.entity.ConsultationSession">
        update consultation_session
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="doctorId != null">
                doctor_id = #{doctorId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="aiSummary != null and aiSummary != ''">
                ai_summary = #{aiSummary},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateMessage" parameterType="com.lz.entity.ChatMessage">
        update chat_message
        <set>
            <if test="sessionId != null">
                session_id = #{sessionId},
            </if>
            <if test="senderType != null">
                sender_type = #{senderType},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType},
            </if>
            <if test="msgStatus != null">
                msg_status = #{msgStatus},
            </if>
            <if test="doctorSummary != null">
                doctor_summary = #{doctorSummary},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.lz.vo.ConsultationSessionVO">
        SELECT
        cs.id,
        cs.status,
        cs.ai_summary,
        cs.create_time,
        cs.update_time,
        cs.user_id,
        u.username AS username,
        u.avatar AS avatar,
        u.age AS age
        FROM
        consultation_session cs
        LEFT JOIN
        user u ON cs.user_id = u.id
        <where>
            <if test="queryDTO.queryDate != null">
                AND cs.update_time &gt;= #{queryDTO.queryDate}
                AND cs.update_time &lt; DATE_ADD(#{queryDTO.queryDate}, INTERVAL 1 DAY)
            </if>

            <if test="queryDTO.status != null">
                AND cs.status = #{queryDTO.status}
            </if>

            AND cs.doctor_id = #{doctorId}
        </where>
        ORDER BY cs.update_time DESC
    </select>

    <delete id="delete">
        delete from consultation_session
        where user_id = #{userId} and doctor_id = #{doctorId}
    </delete>

    <select id="getSessionListByUserId" resultType="com.lz.vo.ConsultationSessionVO">
        SELECT
            cs.id,
            cs.status,
            cs.ai_summary,
            cs.create_time,
            cs.doctor_id,
            doc.real_name AS doctorName,
            doc.avatar AS doctorAvatar,
            doc.title,
            dept.name AS deptName
        FROM
            consultation_session cs
                LEFT JOIN
            doctor doc ON cs.doctor_id = doc.id
                LEFT JOIN
            department dept ON doc.dept_id = dept.id
        WHERE
            cs.user_id = #{userId}
        ORDER BY
            cs.update_time DESC
    </select>
    <select id="getByUserIdWithCreateTime" resultType="com.lz.entity.ConsultationSession">
        SELECT *
        FROM consultation_session
        WHERE user_id = #{userId}
          AND update_time >= #{startOfDay}
          AND update_time &lt;= #{endOfDay}
    </select>
    <select id="getByUpdateTime" resultType="com.lz.entity.ConsultationSession">
        SELECT *
        FROM consultation_session
        WHERE update_time BETWEEN #{startTime} AND #{endTime}
    </select>

    <select id="getBatchMessages" resultType="com.lz.entity.ChatMessage">
        SELECT * FROM chat_message
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY create_time ASC
    </select>
</mapper>
